body{
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
    background-image: url("img/fondo.jpg");
    font-family: 'Inter';

    display:flex;
    align-items:center;
    justify-content: center;
}


 /* LOADING  */
 .contenedor-loading{
    display:flex;
    flex-flow:column;
    align-items:center;
}


.loader {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: loading 1.8s infinite linear;
}

/* para q cabeza de spinner se vea mas q la cola le agrego 1/4 de circulo */
.loader:before {
    width: 50%;
    height: 50%;
    background: #FFF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  /* para q solo se vea perimetro (tapo el centro con una bola) */
  .loader:after {
    background-image: url("img/loading-icon.png");
    background-size: contain;
    background-position: 50%;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
 
.barra-loading{
    height:20px;
    width:70vw;
    background-color: rgba(60, 15, 58, 1);
    border:solid 2px;
    border-radius:15px;
    overflow: hidden;
    position:relative;
    
}

.barra-loading::before{
    content: "";
    height:20px;
    width:70vw;
    background-color: #FF8BF9;
    position:absolute;
    left:-70vw;
    animation: barra-carga 5s ease-in-out forwards;
}
@keyframes barra-carga{
    100%{
        transform: translateX(70vw);
    }
}
